<!DOCTYPE <html>
<head>
	<title>{{appName}}</title>
	<!-- Stylesheets -->

	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles/main.css">


	<!-- Vendor Scripts -->
	<script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

	<!--  Application Scripts-->
	<script type="text/javascript" src="static/scripts/app.js"></script>

</head>
<body>	
	<h1>{{salutation}}</h1>
	<div class="ridemap">
	</div>
	<div>
		<table>
			<thead></thead>
			<tbody></tbody>
		</table>
	</div>
</body>
</html>