@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

/*Resets*/

	html, body, div, span, applet, 
	object, iframe, 
	h1, h2, h3, h4, h5, h6, p, blockquote, 
	pre, a, abbr, acronym, address, big, cite, 
	code, del, dfn, em, img, ins, kbd, q, s, samp, 
	small, strike, strong, sub, sup, tt, var, b, u, 
	i, center, dl, dt, dd, ol, ul, li, fieldset, 
	form, label, legend, table, caption, tbody, 
	tfoot, thead, tr, th, td, article, aside, 
	canvas, details, embed, figure, figcaption, 
	footer, header, hgroup, menu, nav, output, 
	ruby, section, summary, time, mark, audio, 
	video {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family:monospace,serif;
		font-weight: lighter;


	}



	/**************
	 * CONTAINERS *
	 **************/

	

	html, body, .main, .title, .ridemap, .findRide, .findPrice, .mainT, .theader, .theadRow,
	.tbody, .tRow {

		display: flex;
		/*border: solid 1px red;*/
	}

	html, body, .mainT, .tbody{
		flex-direction: column;
		border-bottom: 1px solid #efefef;
	}

	.main, .table-container, .findRide{
		box-shadow: -3px 0 5px -2px rgba(0,0,0,.15);
	}


	/*Map Container*/

	#map{
   	width: 100%;
	}


	/*Ride Form*/


	form.findPrice{
		flex-direction: column;
		align-items:center;
		flex-basis: 100%;
		padding: 2em 0 2em 0;

	}

	input{
		/*flex-grow: 1;*/
		width: 60vw;
	}


	/*Table*/

	.mainT{
		/*align-content: space-around;*/
	}

	/*Table Row header*/
	.theadRow{
		justify-content:space-around;
		flex-basis:100%;

	}

	/*Table Row*/
	.tRow{
		justify-content:space-around;
	}

	th{
		text-align: center;
		font-weight: bold;
	}

	th, td{
		flex-grow: 1;
		flex-basis: 14%;
		border-bottom: 1px solid #efefef;
  		padding: 0.5rem 0rem;
	}

	/************
	 * ELEMENTS *
	 ************/

	 .title h1{
		font-weight: bold;
    	font-size: 3em;
    
	 }

	 button.btn{
	 	margin-top: 1em;
	 }

/*Media Queries*/

@media screen and (min-width: 1280px){

	 .main, .table-container, .findRide{
		margin: 0 5% 0 5%;
		    
	}

	th, td{
  		padding: 0.5rem 2rem;
	}



}










